.ModalContent {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 661px;
  height: 445px;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}

.ModalHeader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.ModalTitle {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 30px;
  font-weight: bold;
}

.ModalBody {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem 4rem;
}

.Close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  padding-right: 25px;
  margin-top: 17px;
  font-size: 31px;
  -moz-appearance: none;
  appearance: none;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.Paragraph {
  margin-left: 16px;
  font-size: 13px;
  color: #968d8d;
}

.FormControl {
  overflow: visible;
  display: block;
  width: 94%;
  margin-left: 14px;
  height: calc(1.5em + .75rem + 21px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  outline: none;
  background-color: #f3f3f3;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #65018c;
  border-color: #007bff;
  margin-left: 12px;
  height: calc(1.5em + .75rem + 21px);
  width: 501px;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  outline: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}