%extend1 {
	font-size: 13px;
	color: $colorpurple;
	display: inline-block;
	padding: 7px 50px;
	border-radius: 50px;
	box-shadow: 0 0 12px $black9;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 20px;
}

.author {
	padding: 20px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	background-color: $white;
	margin-bottom: 30px;
	text-align: center;
	box-shadow: 0 0 3px $black5;
	img {
		width: 85px;
		height: 85px;
		border-top-left-radius: 100%;
		border-radius: 100%;
		margin-bottom: 25px;
	}
	h4 {
		font-weight: bold;
		color: $colortundora;
		font-size: 17px;
		margin-bottom: 6px;
	}
	p {
		color: $colormountainmist;
		font-weight: 100;
		font-size: 14px;
		height: 30px;
	}
	button {
		@extend %extend1;
		&:focus {
			@extend %extend1;
		}
		&:hover {
			transform: translateY(-2px);
			color: $colorpurple;
			text-decoration: none;
			box-shadow: 0 0 12px $colorpurple20;
		}
		&.following {
			background-color: $colorpurple;
			color: $white;
		}
	}
	&.following button {
		background-color: $colorpurple;
		color: $white;
	}
}
.list-view {
	.author {
		border-radius: 5px;
		img {
			position: absolute;
			left: 15px;
			top: 15px;
		}
		button {
			margin-top: 5px;
			margin-bottom: 0;
		}
	}
	.author-details {
		text-align: left;
		margin-left: 100px;
		margin-top: 3px;
	}
}
