//colors
$color_venus_approx: #968d8d;
$color_abbey_approx: #495057;
$color_concrete_approx: #f3f3f3;
$color_mischka_approx: #ced4da;
$color_shark_approx: #212529;
$white: #fff;
$color_purple_approx: #65018c;
$color_azure_radiance_approx: #007bff;
$color_crown_of_thorns_approx: #721c24;

.reset_password_paragraph {
  margin-left: 16px;
  font-size: 13px;
  color: $color_venus_approx;
}
.reset_form_control {
  overflow: visible;
  display: block;
  width: 94%;
  margin-left: 14px;
  height: 50px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color_abbey_approx;
  outline: none;
  background-color: $color_concrete_approx;
  background-clip: padding-box;
  border: 1px solid $color_mischka_approx;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.reset_btn {
  display: inline-block;
  font-weight: 400;
  color: $color_shark_approx;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  color: $white;
  background-color: $color_purple_approx;
  margin-left: 12px;
  margin-right: 7px;
  height: 55px;
  width: -webkit-fill-available;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.reset_btn:focus, .reset_btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.reset_btn:hover {
  box-shadow: 1px 2px 9px grey;
  // background-color: white;
  // color:  $color_purple_approx;
}
.reset_alert_danger {
  color: $color_crown_of_thorns_approx;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.reset_spinner_box {
  height: fit-content;
  width: inherit;
  text-align: center;
}