body {
	font-family: $font0;
	font-weight: 400;
	background-color: $colordesertstorm;
	color: $colortundora;
}
.bg-brand {
	background-color: colorpurple;
	color: $white;
}
#navbar {
	background-color: $white;

	box-shadow: 0 2px 2px $black2;
	.btn-cta {
		padding: 10px 60px 10px 25px;
		border-radius: 4px;
		color: $white;
		font-weight: 400;
		font-size: 16px;
		margin-right: 19px;
		position: relative;
		overflow: hidden;
		text-transform: none;
		margin-top: 10px;
		margin-bottom: 10px;
		max-width: 300px;
		text-align: center;
	}
	.navbar-brand {
		color: $colorvioleteggplant;
		font-weight: bold;
		&:hover {
			color: $colorvioleteggplant;
			font-weight: bold;
		}
	}
	.dropdown-divider {
		margin: 0 1px;
	}
	.navbar-toggler {
		border: none;
	}
	.navbar-toggler-icon {
		border-color: $red;
	}
	li a {
		color: $colortundora;
		text-transform: uppercase;
		text-align: left;
	}
	.dropdown-menu a {
		text-transform: none;
		padding-top: 8px;
		padding-bottom: 8px;
		width: 230px;
		border-left: 4px solid transparent;
		transition: padding-left 300ms;
		margin-bottom: 1px;
		margin-top: 1px;
		opacity: 0.8;
		&:hover {
			border-left-color: $colorpigmentindigo;
			background-color: $gallery;
			padding-left: 20px;
		}
	}
}
.overlay {
	position: relative;
	overflow: hidden;
}
.btn-brand {
	text-align: center;
	padding: 12px 16px 12px 15px;
	display: inline-block;
	color: $white;
	font-size: 16px;
	background-color: $colorpurple;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 300ms;

	box-shadow: 0 5px 4px $black25;
	&:hover {
		color: $white;
		background-color: $colorclairvoyant;
		text-decoration: none;
	}
}
.overlay::before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: "";
	background-color: $black49;
}
.relative {
	position: relative;
}
.btn-secondary {
	background-color: $colorpigmentindigo32;
	color: $colorpigmentindigo;

	box-shadow: none;
	border: none;
}
[onclick] {
	cursor: pointer;
}
[onClick] {
	cursor: pointer;
}
.transition {
	transition: all 300ms ease;
}
.footer {
	background-color: $colorshark;
	overflow: auto;
	a {
		color: $colorcloud;
		display: block;
		padding: 8px 10px;
		float: none;
		&.terms {
			opacity: 1;
		}
	}
	div div {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.logo {
	font-weight: bold;
	font-size: 18px;
}
.main-body {
	margin-top: 52px;
}
@media(min-width:992px) {
	#navbar {
		padding-top: 15px;
		padding-bottom: 15px;
		.btn-cta {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
	.main-body {
		margin-top: 71px;
	}
}
.link-surface {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.category-link {
	@extend .link-surface;
	position: relative;
	color: $white;
	text-decoration: none;
	&:hover{
		opacity: 0.5;
		text-decoration: none;
		color: antiquewhite
	}
}

@media(min-width:768px) {
	.footer {
		a.terms {
			float: right;
			opacity: 0.8;
		}
		div div {
			text-align: left;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
@media(min-width:450px) {
	.footer a {
		display: inline-block;
	}
}
@media(min-width:576px) and(max-width:767px) {
	.container {
		max-width: 100%;
	}
}
.wrapper {
	padding-top: 50px;
	padding-bottom: 60px;
	header h1 {
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 0;
		padding-top: 0;
		display: inline-block;
	}
}
.navbar.navbar-logged {
	.navbar-toggler {
		display: none;
	}
	.nav-profile {
		display: inline-block;
	}
}
.page-header {
	margin-top: 20px;
	margin-bottom: 70px;
	overflow: auto;
}
.btn-plain {

	box-shadow: none;
}
.btn-condensed {
	padding-top: 8px;
	padding-bottom: 8px;
}
.btn-cta .fas {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40px;
	text-align: center;
	padding-top: 15px;
	font-size: 14px;
	background-color: $colorvioleteggplant;
}
.nav-profile img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.navbar .nav-profile {
	display: none;
}
.view-changer .btn {
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	&.active.focus {
		box-shadow: none;
	}
}
.btn-unfocused:focus {
	box-shadow: none;
}

.btn:focus{
	box-shadow: none;
}
