%extend1 {
  background-color: $colorpurple;
  color: $white;
  border-color: $colormercury;
}
.page-link {
  color: $colortundora;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  &.active {
      @extend %extend1;
  }
  &:hover {
      color: $colorpurple;
  }
}
.single-hero {
  height: 230px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 40px;
}
.signle-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1em;
}
.single-body {
  margin-top: 20px;
  margin-bottom: 30px;
  white-space: pre-line;
  p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}
.single-container {
  max-width: 992px;
  margin: 60px auto 50px;
}
.single-author-container {
  .article-author {
    border: none;
  }
  img {
    width: 50px;
    height: 50px;
  }
  div div {
    margin-left: 60px;
    margin-top: 10px;
  }
}
.single-tags {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  .badge {
    border-radius: 23px;
    font-size: 15px;
    display: inline-block;
    padding: 15px;
    background-color: $colorsolitude;
    margin-right: 5px;
    font-weight: normal;
    margin-bottom: 10px;
  }
}
.clap-grp {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-top: 1px solid $colorcloud;
  border-bottom: 1px solid $colorcloud;
  margin-top: 50px;
}
.clap-icon {
  font-size: 14px;
  font-weight: bold;
  img {
      margin-right: 5px;
      width: 38px;
  }
}
.share-grp {
  float: right;
  position: relative;
  a {
    display: inline-block;
    padding: 0 5px 1px 6px;
    font-size: 18px;
    position: relative;
    top: 7px;
  }
}
.single-article-author {
  margin-bottom: 30px;
  margin-top: -20px;
  padding-right: 20px;
  p {
    max-width: 500px;
  }
  button {
    color: $colorpurple;
    box-shadow: 0 0 3px $black20;
    border-radius: 50px;
    padding: 5px 20px;
  }
  .following {
    background-color: $colorpurple;
    color: $white;
  }
}
.comment-grp {
  margin-bottom: 50px;
  margin-top: 0;
  border-top: 1px solid $black20;
  padding-top: 30px;
  .article-author {
    &:first-child {
      border: none;
    }
    p {
      max-width: 700px;
    }
  }
  h4 {
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 10px;
  }
  form {
    margin-top: 30px;
    .form-control {
      vertical-align: middle;
      height: 65px;
      padding-left: 20px;
      padding-right: 60px;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      background-color: transparent;
      color: $colortundora;
      bottom: 0;
      width: 60px;
    }
  }
  .form-group {
    position: relative;
  }
}
.loadmore-grp {
  margin-top: 30px;
  border-top: 1px solid $black20;
  padding-top: 30px;
}
.single-suggested-grp {
  background-color: $colorgraynurse;
  padding-top: 30px;
  padding-bottom: 30px;
  h4 {
    font-weight: bold;
    margin-bottom: 50px;
  }
}
@media(min-width:450px) {
  .single-hero {
    height: 400px;
  }
}
.page-item.active {
  background-color: $colorgallery;
  .page-link {
    @extend %extend1;
  }
}
.following .single-article-author button {
  background-color: $colorpurple;
  color: $white;
}
.fa-bookmark{
  color: $colorpumice90;
}
.articleauthor{
  display: flex;
  align-items: center;
  .bookmarkdiv{
    margin-left: 30px;
    font-size: 20px;
    .bookmarked{
      color: $colorvioleteggplant
    }
  }
}
.singleauthorcontainer{
  margin-top: 25px;
  margin-bottom: 25px;
}
.authorprofile--mini{
  display: inherit;
  margin-left: unset;
  img{
    border-radius: 100%;
    height: 50px;
    width: 50px;
  }
  .div{
    margin-left: unset;
  }
  h6{
    margin-bottom: unset;
  }
  .authorprofile--details{
    margin-left: 10px;
    span{
      font-size: 14px;
    }
    .details--break{
      display: block;
    }
  }
  
}
@media only screen and (min-device-width: 500px){
  .articleauthor{
    justify-content: space-between;
    .bookmarkdiv{
      margin-left: unset;
    }
  }
  
}