//colors
$color_desert_storm_approx: #f8f8f8;
$color_tundora_approx: #464444;
$white: #fff;
$color_violet_eggplant_approx: #8b01be;
$black_2: rgba(0, 0, 0, 0.02);
$color_purple_approx: #66008c;
$black_25: rgba(0, 0, 0, 0.25);
$color_clairvoyant_approx: #45055d;
$black_49: rgba(0, 0, 0, 0.49);
$color_pigment_indigo_32_approx: rgba(83, 4, 112, 0.32);
$color_pigment_indigo_approx: #530470;
$color_shark_approx: #272525;
$color_cloud_approx: #c4c4c4;
$gallery: #efefef;
$red: #f00;
$color_wild_sand_approx: #f4f3f3;
$color_purple_25_approx: rgba(102, 0, 140, 0.25);
$color_mountain_mist_approx: #999595;
$color_alto_approx: #e0dddd;
$color_kimberly_approx: #6e75a0;
$color_success: #00b19e;
$color_warning: #ffc107;
$color_info: #3b80ff;
$color_error: #e44c52;
$color_danger: #d93900;
$color_error_25_approx:#e44c514f;

//fonts
$font_0: Nunito;
