//colors
$colormountainmist: #999595;
$colorpurple80: rgba(102, 0, 140, 0.8);
$colorpurple70: rgba(102, 0, 140, 0.7);
$colorpurple: #66008c;
$colormasala: #423838;


$color_desert_storm: #f8f8f8;
$color_tundora: #464444;
$colordesertstorm: #f8f8f8;
$colortundora: #464444;
$white: #fff;
$colorvioleteggplant: #8b01be;
$black2: rgba(0, 0, 0, 0.02);
$colorpurple: #66008c;
$black25: rgba(0, 0, 0, 0.25);
$colorclairvoyant: #45055d;
$black49: rgba(0, 0, 0, 0.49);
$colorpigmentindigo32: rgba(83, 4, 112, 0.32);
$colorpigmentindigo: #530470;
$colorshark: #272525;
$colorcloud: #c4c4c4;
$gallery: #efefef;
$red: #f00;
$colorwildsand: #f4f3f3;
$colorpurple25: rgba(102, 0, 140, 0.25);
$colormountainmist: #999595;
$coloralto: #e0dddd;
$colorkimberly: #6e75a0;
$gallery: rgb(239, 239, 239);
$white: rgb(255, 255, 255);
$white81: rgba(255, 255, 255, 0.81);
$colorrangoongreen: #1f1c1c;
$black5: rgba(0,0,0,0.05);
$colorcloud24: rgba(196, 196, 196, 0.24);
$black60: rgba(0, 0, 0, 0.6);
$colorpurple37: rgba(102, 0, 140, 0.37);
$colorpumice90: rgba(200, 200, 200, 0.9);
$black9: rgba(0, 0, 0, 0.09);
$colorpurple20: rgba(102, 0, 140, 0.2);
$colorsuccess: #00b19e;
$colorwarning: #ffc107;
$colorinfo: #3b80ff;
$colorerror: #e44c52;
$colordanger: #d93900;
$colorerror25approx:#e44c514f;
$colormercury: #dee2e6;
$colorgallery: #f0f0f0;
$colorsolitude: #eaf2ff;
$black20: rgba(0, 0, 0, 0.2);
$colorgraynurse: #eaeaea;
$black10: rgba(0, 0, 0, 0.1);
$colorsilver: #bdbdbd;
$colorquillgray: #d4d4d4;
$colorsalmon: rgb(126, 4, 4);

//fonts
$font0: Nunito;

//urls
$url0: url(../../public/images/background/opening-image.jpg);
$url1: url(../../public/images/background/search-cover.jpg);
