//colors
$colormountainmist: #999595;
$colorpurple80: rgba(102, 0, 140, 0.8);
$colorpurple70: rgba(102, 0, 140, 0.7);
$colorpurple: #66008c;
$colormasala: #423838;


$color_desert_storm: #f8f8f8;
$color_tundora: #464444;
$white: #fff;
$color_violet_eggplant: #8b01be;
$black_2: rgba(0, 0, 0, 0.02);
$color_purple: #66008c;
$black_25: rgba(0, 0, 0, 0.25);
$color_clairvoyant: #45055d;
$black_49: rgba(0, 0, 0, 0.49);
$color_pigment_indigo_32: rgba(83, 4, 112, 0.32);
$color_pigment_indigo: #530470;
$color_shark: #272525;
$color_cloud: #c4c4c4;
$gallery: #efefef;
$red: #f00;
$color_wild_sand: #f4f3f3;
$color_purple_25: rgba(102, 0, 140, 0.25);
$color_mountain_mist: #999595;
$color_alto: #e0dddd;
$color_kimberly: #6e75a0;

$gallery: rgb(239, 239, 239);
$white: rgb(255, 255, 255);
$white_81: rgba(255, 255, 255, 0.81);

$color_rangoon_green: #1f1c1c;

$black_5: rgba(0,0,0,0.05);
$color_cloud_24: rgba(196, 196, 196, 0.24);
$black_60: rgba(0, 0, 0, 0.6);
$color_purple_37: rgba(102, 0, 140, 0.37);
$color_pumice_90: rgba(200, 200, 200, 0.9);

$black_9: rgba(0, 0, 0, 0.09);
$color_purple_20: rgba(102, 0, 140, 0.2);


$white: #fff;
$color_mercury_approx: #dee2e6;
$color_gallery_approx: #f0f0f0;
$color_solitude_approx: #eaf2ff;
$black_20: rgba(0, 0, 0, 0.2);
$color_gray_nurse_approx: #eaeaea;


//fonts
$font_0: Nunito;

//urls
$url_0: url(../../public/images/background/opening-image.jpg);
