
.view-changer {
	background-color: $white;
	box-shadow: 0 0 3px $black2;
	border-radius: 8px;
	position: relative;
	bottom: 0;
	.btn.active {
		background-color: $colorpigmentindigo;
		color: $white;
  }
  .btn {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media(min-width:992px) {
	.list-view > div {
		min-width: 50%;
	}
}
.list-view > div {
	min-width: 100%;
}